<!DOCTYPE html>
<html>
  <head>
    <title><%= user %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p> Hola <%= user %></p>
    <img src="/images/cat.jpg"></img>
  </body>
</html>
